@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-body: "Montserrat", "serif";
    --color-background: #121212;
    --color-card: #1E1E1E;
    --color-highlight: #F59E0B;
    --color-text: #8C8B8B;
    --color-success: #10B981;
    --color-error: #F43F5E;
}

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none !important;

    -ms-overflow-style: none !important;

    -webkit-overflow-scrolling: touch;
    -webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }
  }
}

body{
    font-family: var(--font-body);
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}